
@{
    ViewBag.Title = "修改预申请";
    Layout = "~/Areas/P/Views/Shared/_LayoutWxPage.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var pdg;

        var srhParam;
        function GetSrhParam() {
            var _srhParam = new Object();
            _srhParam.CN = '';
            _srhParam.MUDID = '';
            _srhParam.SubmitTimeBegin = '';
            _srhParam.SubmitTimeEnd = '';
            _srhParam.ApprovedTimeBegin = '';
            _srhParam.ApprovedTimeEnd = '';
            return _srhParam;
        }

        var pdg;
        var srhParam;
        function GetSrhParam() {
            var _srhParam = new Object();
            _srhParam.CreateTimeBegin = '';
            return _srhParam;
        }
        $(function () {
            srhParam = GetSrhParam();
            pdg.QueryParams = function () {

                return {
                    CreateTimeBegin: srhParam.CreateTimeBegin
                };
            }
            pdg.Load();

        });
    </script>
}
<style type="text/css">
    html, body {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }

    .page-body {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 50px;
        overflow: auto;
    }

    .page-foot {
        position: absolute;
        height: 60px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
        padding: 10px;
    }

    .placeholder {
        padding: 7px;
    }

    .weui-cell {
        min-height: 45px;
    }

    .weui-label {
        width: 140px !important;
    }
</style>

<style type="text/css">
    #dvUploadSpeakerFile {
        background-color: #FFFFFF;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
    }

    .my_weui_uploader_input_wrp {
        float: left;
        position: relative;
        margin-right: 9px;
        margin-bottom: 9px;
        width: 70px;
        height: 70px;
        border: 2px #D9D9D9;
        border-radius: 10px;
    }
</style>

<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var jsapiurl = '@MealH5.Handler.WebConfigHandler.ShortUrlService/JsApi/QyConfigJs?debug=false&url=' + UrlEncode(window.location.href);
    //document.write('<script type="text/javascript?v='+javaScriptVersion+'" src="' + jsapiurl + '"><\/script>');
    document.write('<script type="text/javascript" src="' + jsapiurl + '"><\/script>');
</script>

<script type="text/javascript">
    var IsServPause = 1 == @ViewBag.IsServPause;
    var IsOutSideHT = 1 == @ViewBag.IsOutSideHT;
    var GroupType = '@ViewBag.GroupType';
    var _Market = '@ViewBag.Market';
    var _TA = '@ViewBag.TA';
    var GroupType = '@ViewBag.GroupType';
    var VeevaMeetingID ='@ViewBag.VeevaMeetingID';
    var awsUrl = '@MealH5.Handler.WebConfigHandler.AWSService';
    var IsUsed = '@ViewBag.IsUsed';
    var IsFinished = '@ViewBag.IsFinished';
    var IsCrossMonth = '@ViewBag.IsCrossMonth';
    var OrderState = '@ViewBag.OrderState' == null ? '0' : '@ViewBag.OrderState';
    var SpeakerServiceImage='@ViewBag.SpeakerServiceImage';
    var SpeakerBenefitImage = '@ViewBag.SpeakerBenefitImage';
    var State = '@ViewBag.State';
    var isTerritoryChange = '@ViewBag.isTerritoryChange';
    var currentUserId='@ViewBag.CurrentUserId';
    var HospitalCode = '@ViewBag.HospitalCode';
    var HospitalName= '@ViewBag.HospitalName';

    var _HospitalAddress = '@ViewBag.HospitalAddress';
    var _AttendCount = '@ViewBag.AttendCount';
    var _CostCenter = '@ViewBag.CostCenter';

    var HTType = '@ViewBag.HTType';

    $(function () {

    })
</script>
<link rel="stylesheet" href="~/Content/css/preApproval_edit.css?v=javaScriptVersion" />
<script type="text/javascript" src="~/Content/js/preApproval_edit.js?v=javaScriptVersion"></script>
<script type="text/javascript">
    function outputmoney(number) {
        number = number.replace(/\,/g, "");
        if (isNaN(number) || number == "") return "";
        number = Math.round(number * 100) / 100;
        if (number < 0)
            return '-' + outputdollars(Math.floor(Math.abs(number) - 0) + '') + outputcents(Math.abs(number) - 0);
        else
            return outputdollars(Math.floor(number - 0) + '') + outputcents(number - 0);
    }
    //格式化金额
    function outputdollars(number) {
        if (number.length <= 3)
            return (number == '' ? '0' : number);
        else {
            var mod = number.length % 3;
            var output = (mod == 0 ? '' : (number.substring(0, mod)));
            for (i = 0; i < Math.floor(number.length / 3); i++) {
                if ((mod == 0) && (i == 0))
                    output += number.substring(mod + 3 * i, mod + 3 * i + 3);
                else
                    output += ',' + number.substring(mod + 3 * i, mod + 3 * i + 3);
            }
            return (output);
        }
    }
    function outputcents(amount) {
        amount = Math.round(((amount) - Math.floor(amount)) * 100);
        return (amount < 10 ? '.0' + amount : '.' + amount);
    }

</script>

<div class="page-main">
    <div class="page-body">
        <form id="form0" action="_Edit" method="post">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label"><strong>Market</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        @*<select class="weui-select Group1" name="Market" id="Market">
                            @if (ViewBag.Market == null || ViewBag.Market == "")
                            {
                                <option selected='' value=''>请选择Market</option>
                            }
                            @foreach (var item in ViewBag.listMarket)
                            {
                                <option value="@item.Name">@item.NameShow</option>
                            }
                        </select>*@
                        <input class="weui-input Group1 Group2" type="text" name="Market" id="Market" value="@ViewBag.Market" readonly="readonly" />
                    </div>
                </div>
                @*20190115*@
                @if (ViewBag.Market == "Rx" || ViewBag.Market == "Vx")
                {
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label"><strong>VeevaMeetingID</strong></label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="VeevaMeetingID" name="VeevaMeetingID" value="@ViewBag.VeevaMeetingID" placeholder="请填写VeevaMeetingID" maxlength="8" />
                            @*<input type="hidden" id="hdVeevaMeetingID" value="@ViewBag.VeevaMeetingID">*@
                        </div>
                    </div>
                }
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label Group2"><strong>TA</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        <input class="weui-input Group1 Group2" type="text" name="TA" id="TA" value="@ViewBag.TA" readonly="readonly" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label Group2"><strong>省份</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        <input class="weui-input Group2" type="text" id="ProvinceName" name="ProvinceName" value="@ViewBag.Province" readonly="readonly" />
                        <input type="hidden" id="ProvinceId" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label Group2"><strong>城市</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        <input class="weui-input Group2" type="text" id="CityName" name="CityName" value="@ViewBag.City" readonly="readonly" />
                        <input type="hidden" id="CityId" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after" id="HospitalPanel">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label Group2"><strong>医院名称</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        <input class="weui-input Group2" type="text" id="HospitalName" name="HospitalName" value="@ViewBag.HospitalName" readonly="readonly" />
                        <input type="hidden" id="HospitalId" name="HospitalId" value="@ViewBag.HospitalCode" />
                    </div>
                    <div class="weui-cell__ft" style="display: none;">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after" id="HospitalCodePanel">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label Group2"><strong>医院编码</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        <input class="weui-input Group2" type="text" id="HospitalCode" name="HospitalCode" value="@ViewBag.HospitalCode" readonly="readonly" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label Group2"><strong>医院地址</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        <input class="weui-input Group2" type="text" id="Address" name="Address" value="@ViewBag.HospitalAddress" readonly="readonly" />
                        <input type="hidden" id="AddressCode" name="AddressCode" value="@ViewBag.HospitalAddressCode" />
                    </div>
                </div>

                <div class="weui-cells__title" style="color:red;">
                    *医院地址为系统默认, 请在”填写订单详情“页面补充送餐详细地址
                </div>
                <div class="weui-cell" id="HospitalAddressPanel">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label"><strong>会议名称</strong></label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="MeetingTitle" name="MeetingTitle" value="@ViewBag.MeetingName" maxlength="50" placeholder="请填写会议名称" />

                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label"><strong>会议时间</strong></label>
                    </div>
                    <div class="weui-cell__bd UnFinishEdit">
                        <input class="weui-input" type="text" id="MeetingTime" name="MeetingTime" value="@ViewBag.MeetingTime" readonly="readonly" placeholder="请选择会议时间" />
                    </div>
                    <div class="weui-cell__ft" style="display:none;">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label"><strong>参会人数</strong></label>
                    </div>
                    <div class="weui-cell__bd UnFinishEdit">
                        <input class="weui-input" type="number" id="Attendance" name="Attendance" value="@ViewBag.AttendCount" placeholder="请填写参会人数" pattern="[0-9]*" />
                        <input type="hidden" id="hdAttendance" value="@ViewBag.AttendCount">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label Group2"><strong>大区区域代码</strong></label>
                    </div>
                    <div class="weui-cell__bd UnEdit UnFinishEdit">
                        <input class="weui-input Group2" type="text" id="CostCenter" name="CostCenter" value="@ViewBag.CostCenter" readonly="readonly" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label"><strong>HT形式</strong></label>
                    </div>
                    <div class="weui-cell__bd UnFinishEdit">
                        <select class="weui-select" name="HTType" id="HTType">
                            <option value=""></option>
                            @if (ViewBag.HTType == "1")
                            {
                                <option value="1" selected ="selected">线上HT</option>
                                <option value="0">线下HT</option>
                            }
                            else if (ViewBag.HTType == "0")
                            {
                                <option value="1">线上HT</option>
                                <option value="0" selected ="selected">线下HT</option>
                            }
                            else
                            {
                                <option value="1">线上HT</option>
                                <option value="0">线下HT</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label"><strong>预算金额</strong></label>
                    </div>
                    <div class="weui-cell__bd UnFinishEdit">
                        <input class="weui-input" type="text" id="Budget" name="Budget" value="@ViewBag.BudgetTotal" onblur="this.value=outputmoney(this.value);" placeholder="请填写预算金额" />
                        <input type="hidden" id="hdBudget" value="@ViewBag.BudgetTotal">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label"><strong>直线经理是否随访</strong></label>
                    </div>
                    <div class="weui-cell__bd">
                        @if (ViewBag.IsDMFollow == true)
                        {
                            <input type="radio" checked="checked" name="FollowVisit" id="VisitOne" value="1" style="float:left;margin-top:5px;margin-left:20%;"><p style="margin-right:25px;float:left;">是</p>
                            <input type="radio" name="FollowVisit" id="VisitTwo" value="2" style="float:left;margin-top:5px;margin-left:10%;"><p>否</p>
                        }
                        @if (ViewBag.IsDMFollow == false)
                        {
                            <input type="radio" name="FollowVisit" id="VisitOne" value="1" style="float:left;margin-top:5px;margin-left:20%;"><p style="margin-right:25px;float:left;">是</p>
                            <input type="radio" checked="checked" name="FollowVisit" id="VisitTwo" value="2" style="float:left;margin-top:5px;margin-left:10%;"><p>否</p>
                        }
                    </div>
                    <input type="hidden" id="hdPreApprovalId" _value="@ViewBag.ID">
                </div>
                <div class="weui-cell" id="dvSpeakerPanel">
                    <div class="weui-cell__hd" style="background-color:#e5e5e5;">
                        <label for="" class="weui-label"><strong>外部免费讲者来讲</strong></label>
                    </div>
                    <div class="weui-cell__bd" id="dvFreeSpeaker" style="background-color:#e5e5e5;">
                        @if (ViewBag.IsFreeSpeaker == true)
                        {
                            <a>
                                <input type="radio" name="Speaker" id="rbSpeaker1" checked="checked" value="1" style="float:left;margin-top:5px;margin-left:20%"><p style="margin-right:25px;float:left;">是</p>
                            </a>
                            <input type="radio" name="Speaker" id="rbSpeaker2" value="0" style="float:left;margin-top:5px;margin-left:10%"><p>否</p>
                        }
                        @if (ViewBag.IsFreeSpeaker == false)
                        {
                            <a>
                                <input type="radio" name="Speaker" id="rbSpeaker1" value="1" style="float:left;margin-top:5px;margin-left:20%"><p style="margin-right:25px;float:left;">是</p>
                            </a>
                            <input type="radio" name="Speaker" id="rbSpeaker2" checked="checked" value="0" style="float:left;margin-top:5px;margin-left:10%"><p>否</p>
                        }
                    </div>
                    <div class="weui-cell__ft" style="display: none;">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="page-foot">
        <div class="page__bd page__bd_spacing">
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div class="placeholder">
                        <form id="form1" action="~/P/Food/MMCoE" method="get"></form>
                        <button id="btnSubmitApplication" class="weui-btn weui-btn_orange Group3">修改预申请</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #chooseDeliverTime {
        background-color: #FFFFFF;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 8;
    }
</style>

<script type="text/html" id="tmpl_delivertime">
    <div class="close"></div>
    <div class="chooseDeliverBody">
        <div class="title">
            <div class="weui-cells__title">请选择会议时间</div>
            <div class="weui-cells__title">
                <div class="years" style="float:left;width:50%">
                    <select class="" style="width:95%;float:left;height:32px;padding:6px 6px;margin-top:10px;margin-right:4px;margin-left:4px;" id="years">
                        {{each years}}
                        {{if $value==yearNow}}
                        <option value="{{$value}}" selected="selected">{{$value}}年</option>
                        {{else}}
                        <option value="{{$value}}">{{$value}}年</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
                <div class="months" style="float:left;width:50%">
                    <select class="" style="width:95%;float:left;height:32px;padding:6px 6px;margin-top:10px;margin-right:4px;margin-left:4px;" id="months">
                        {{each months}}
                        {{if $value==monthNow}}
                        <option value="{{$value}}" selected="selected">{{$value}}月</option>
                        {{else}}
                        <option value="{{$value}}">{{$value}}月</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="day_panel">
                <div class="days">
                    {{each delivertime}}
                    <div class="day " _val="{{$value.time}}">
                        <div class="month">{{$value.month}}月</div>
                        <div class="week">{{$value.weekday}}</div>
                        {{$value.day}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="body">
            <div class="hour_body">
                {{each delivertime}}
                <div _val="{{$value.time}}">
                    {{include 'menu_days' $value}}
                </div>
                {{/each}}
            </div>
            <div class="time_body">
                {{each delivertime}}
                {{include 'menu_days2' $value}}
                {{/each}}
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="menu_days">
    {{each hours}}
    <div class="houritem choosehour" _val="{{$value.hour}}">
        {{$value.hour.substr(11)}}时
    </div>
    {{/each}}

</script>

<script type="text/html" id="menu_days2">
    {{each hours}}
    <div class="weui-cells" _val="{{$value.hour}}">
        {{include 'menu_times' $value}}
    </div>
    {{/each}}
</script>

<script type="text/html" id="menu_times">
    {{each times}}
    <a class="weui-cell weui-cell_access chooseTime" href="javascript:;" _val="{{$value.time}}">
        <div class="weui-cell__bd">
            <p>{{$value.time.substr(0, $value.time.length-3)}}</p>
        </div>
        <div class="weui-cell__ft">{{$value.weekday}}</div>
    </a>
    {{/each}}
</script>

<div id="chooseDeliverTime">
</div>

<div id="dvUploadSpeakerFile">
    <div class="close"></div>
    <div id="dvUploadFile" class="UploadFileBody">
        <div class="page-body">
            <div class="weui-cells__title"><h4>请上传演讲服务协议：</h4></div>
            <div class="weui-cells">
                <div class="weui-uploader">
                    <div class="weui-uploader__bd">
                        <div class="weui_cell weui_cells_ex" style="margin-top: 1px" id="chooseUploadServiceImage">
                            <div id="dvUploaderServiceImage" class="weui-uploader__input-box" style="margin-top:5px;" onclick="UploadServiceImage()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-cells__title"><h4>请上传利益冲突声明：</h4></div>
            <div class="weui-cells">
                <div class="weui-uploader">
                    <div class="weui-uploader__bd">
                        <div class="weui_cell weui_cells_ex" style="margin-top: 1px" id="chooseUploadBenefitImage">
                            <div id="dvUploaderBenefitImage" class="weui-uploader__input-box" style="margin-top:5px;" onclick="UploadBenefitImage()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left:20px;margin-top:20px;"><span style="font-size:14px;font-weight:bold;color:red;">*请确保上传文件的清晰度</span></div>
        </div>
        <div class="page-foot">
            <div class="page__bd page__bd_spacing">
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        <div class="placeholder">
                            <form id="form1" action="~/P/Food/MMCoE" method="get"></form>
                            <button id="btnSaveSpeakFile" class="weui-btn weui-btn_orange">上传文件</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("../Food/Chooser")
